/* colors 
cream: #fffbee
gray: #707174
soft green:  #c9d8d7
light white: #fffefd */


body {
    background-color: #fffbee;
}

.jumbotron {
    background-image:url("../Images//32-325791_free-high-resolution-graphic-backgrounds-high-resolution-abstract.jpg");
    justify-content: center;
    text-align: center;
    /* height:150pt; */
    font-family: korolev, sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 20pt;
    min-height: 60vh;
}

a {
    color: #c5cbe3;
    padding: 20pt;
}

#myName {
    font-family: reklame-script, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40pt;
    color: #c5cbe3;
    /* justify-content: left;
    align-items: flex-start;
    text-justify: left; */
}

#basics {
    font-family: korolev, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18pt;
    color: #c5cbe3;
}

/* this is my photo clipped into a polygon */
.mug_shot1 {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    float: left;
    /* box-shadow: 10px 10px 5px yellow; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border: 40px solid #c5cbe3; */
  }

/* this is the color when the mouse hovers over the nav bar buttons */
.navBar:hover {color: #e27d60}

a:hover {color: #e27d60}

/* Sunset image */
#BackgroundImg {
    min-height: 60vh;
  }

#Projects {
    margin: 20pt;
    font-family: korolev, sans-serif;
    font-style: normal;
    font-weight: 300;
}.

img {
    /* width: 42px; 
    height: 42px; 
    border: none */
    /* float: left; */
}

/* styling the footer */
footer {
    font-family: reklame-script, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #5e2c04;
    letter-spacing: 2pt;
    text-align: center;
  }

  